doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      .title-logo
        p logo | Legacy
      .nav
        a(href="/") Home 
        a(href="/about") About
      .nav-pages
        a(href="/teamCRUD") TeamCRUD 
        a(href="/dope") Dope 
        a(href="/mooral") Mooral 
        a(href="/viumo") viumo 
    block content
