// Import ED-Grid ===========
$cssCore: false;
$cssHelpers: false;
$devMode: false;
@import 'ed-grid/ed-grid';

// Import Fonts =============
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

// Fonts Weight =============
$light      : 300;
$normal     : 400;
$semi-bold  : 600;
$bold       : 700;
$extra-bold : 800;

// Colors ===================
$primary:    #fff;
$secondary:  #1C1C1C;
$danger:     #DD5845;
$light:      #CFDC62;
$dark:       #24515C;
$favorite:   #555;

// Import Default Styles ======
@import 'components/default';

// Import Layout ==============
@import 'components/layout';

// Import Pages Styles ========
